html {
    font-family: 'Audiowide';
}

body {
    text-align: center;
}

#modal {
    position: fixed;
    top: 40%;
    left: 50%;
    width: 20%;
    height: 40%;
    transform: translate(-50%, -50%);
    /*modal content*/
    font: 20px 'Audiowide';
    background: url(../images/cartoon.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    border-radius: 10px;
    visibility: hidden;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.95); 
    visibility: hidden;
  }

img {
    width: 80px;
}

button{
    font: 16px 'Audiowide';
    background: rgb(0, 225, 255);
    border:none;
    padding: 8px 30px;
}

button:hover {
    background-color: rgb(60, 151, 64);
    color: white;
}

header span{
    font-size: 22px;
}