html {
    font-family: 'Audiowide';
}

body {
    text-align: center;
}

.modal {
    position: fixed;
    top: 40%;
    left: 50%;
    width: 20%;
    height: 40%;
    transform: translate(-50%, -50%);
    /*modal content*/
    font: 20px 'Audiowide';
    background: url(../images/cartoon.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    border-radius: 10px;
    visibility: hidden;
}


.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.95); 
    visibility: hidden;
  }

.fa-dizzy{
    font-size: 60px;
    padding-top: 20%;
}

img {
    width: 80px;
}

/* buttons in modals*/

button {
    font: 16px 'Audiowide';
    background: rgb(0, 225, 255);
    border: none;
    padding: 8px 30px;
}

#next-level:hover {
    background-color: rgb(60, 151, 64);
    color: white;
}

#play-again {
    background: red;
    padding: 8px 20px;
    color: white;
}

#game-over {
    background: rgb(55, 57, 61);
    color: red;
    visibility: hidden;
    border:2px solid red;
    height: 35%;
}

#play-again:hover {
    color: white;
    border:2px solid white;
}

button:focus {
    outline:0;
}


 /*header*/
header span{
    font-size: 22px;
}

header {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

h1{
    width: 100%;
    order: 0;
}

.game-status{
    width: 50%;
    margin:auto;
    justify-content: space-between
}

.level-tag {
    text-align: left;
    width: 40%;
    order:1;
    margin-left: 5%;
}

.lives{
     order:2;
     width: 60%;
     padding: 0 10%;
     color: red;
}

.lives-tag{
    color: black;
}
